<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManagementApp.Properties.Settings.LibraryManagementDBConnectionString"
            connectionString="Data Source=DESKTOP-0ET4QFE\SQLEXPRESS;Initial Catalog=LibraryManagementDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>